.new-tweet {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#tweet-text {
  display: flex;
  width: 100%;
  border: 0;
  border-bottom: 4px solid black;
  font-family: "Source Sans Pro", sans-serif;
  resize: none;
  outline: none;
  background-color: inherit;
  padding-bottom: 0;
  padding-top: 20px;
}

.tweet-button-count {
  display: flex;
  font-family: "Bungee", sans-serif;
  justify-content: space-between;
  padding-top: 10px;
}

.tweet-button {
  display: flex;
  background-color: #4056A1;
  color: #f4f1ec;
}

.tweet-button:hover {
  border: 5px solid rgb(86, 116, 216);
}

.over-characters {
  color: red;
}